/**
 * Lasoon Admin CSS
 */
.switch-field {
	display: inline-flex;
	margin:10px 0 15px;
	position: relative;
    border-radius: 55px;
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
    border:3px solid #6f39fd;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}
.switch-field>.switch-on:checked~#flap {
	 transform: rotateY(-180deg)
}

.switch-field>.switch-on:checked~#flap>.content {
    transform: rotateY(-180deg)
}

.switch-field>.switch-off:checked~#flap {
    transform: rotateY(0deg)
}

.switch-field input:checked + label { background-color: #6F39FD; box-shadow: none; color: white; }

.switch-field>#flap {
    position: absolute;
    top: -1px;
    left: 50%;
    height:40px;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: #6f39fd;
    border-top-right-radius: 55px;
    border-bottom-right-radius: 55px;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
.switch-field>#flap>.content {
    color: #333;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d
}

.switch-field label {
	background-color: #fff;
    color: #ffffff;
	font-size: 14px;
	text-align: center;
	padding: 9px 15px;
    min-width: 40px;
    cursor: pointer;
    perspective: 800px;
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
}

.form-table td fieldset label {
	margin: 0!important;
}

.switch-field label:first-of-type {
	border-radius: 20px 0 0 20px;
	z-index: 10;
	background:transparent;
	margin:0;
	color: #000000;
}

.switch-field label:last-of-type {
	border-radius: 0 20px 20px 0;
	margin: 0;
	z-index: 10;
	background:transparent;
	color: #000000;
}

.lasoon-nav-tab-wrapper .lasoon-nav-tab {
	display: block;
	margin-left: 0;
	float: none;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	padding: 0 30px
}

.lasoon-nav-tab-wrapper {
	width: 20%;
	background: #14141f;
	padding: 80px 0 50px 0;
	position: sticky;
	left: 0;
	top: 0;
	height: 100vh
}

.lasoon_logo_admin {
	top: 0;
	position: absolute;
	height: 81px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f7f7f7;
	width: 100%
}

#mainlasoonform {
	display: flex;
	width: 100%;
	background: #f7f7f7;
	position: relative;
	box-shadow: 0 0 5px 3px #e9e9e9
}

.lasoon-settings-content {
	width: 80%;
	padding: 0
}

.lasoon-nav-tab-wrapper .lasoon-nav-tab.lasoon-nav-tab-active {
	background: #6f39fd;
	color: #ffffff
}

.lasoon-nav-tab-wrapper .lasoon-nav-tab:focus {
	outline: 0;
	box-shadow: none
}

.lasoon_title_wrap {
	padding: 15px 20px;
	background-color: #6f39fd
}

.lasoon_title_wrap h2 {
	font-size: 24px;
	color: #fff;
	margin: 0;
	text-transform: uppercase
}

.lasoon_title_wrap p {
	margin: 10px 0 0 0;
	color: #fff
}

.lasoon-settings-content table.form-table {
	padding: 15px 50px;
	display: block;
	margin: 0;
}

#table-enable_disable_options tr,
#table-enable_disable_options_for_singleblog tr {
	width: 50%;
	float: left;
	border-bottom: 0
}

.lasoon-settings-content .form-table .description {
	font-size: 12px;
	color: #aaa;
	margin: 0;
	line-height: 12px;
	height: 24px
}

.lasoon-settings-content .form-table th {
	vertical-align: baseline;
	text-align: left;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600
}

.lasoon-settings-content p.submit {
	text-align: right;
	padding: 50px 50px 50px 50px;
	margin: 0
}

.lasoon-upload, .lasoon-upload-remove, .lasoon_send_reminder{
	text-decoration: none;
	background: #6f39fd;
	padding: 5px 15px;
	border: 3px solid #6f39fd;
	color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    border-radius: 30px;
    margin: 0 0 0 10px;
}

.lasoon_send_reminder {
	margin: 0 0 10px 0;
	padding: 10px 15px;
	cursor: pointer;
}

.lasoon-upload:hover, .lasoon-upload-remove:hover, .lasoon_send_reminder:hover {
	border: 3px solid #6f39fd;
	color: #fff
}

#table-social_links_title tbody{
	display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
}

#table-social_links_title .titledesc {
	width: 60px;
}

.button-primary.lasoon-save-button {
	background: #14141f;
	border-color: #14141f;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	padding: 5px 20px;
	font-size: 18px
}

.button-primary.lasoon-save-button:hover {
	background: #6f39fd;
	border-color: #6f39fd
}

.lasoon-settings-content .form-table td {
	margin-bottom: 10px;
	padding: 10px 10px;
	line-height: 1.3;
	vertical-align: middle
}

#lasoon_blog_layout_preview img {
	width: 100%
}

#blog_page_settings-description {
	margin: 10px 0 0 0
}

#blog_page_settings-description p {
	font-size: 16px
}

#blog_page_settings-description p span {
	background: #fff;
	padding: 3px 5px;
	color: #000;
	border-radius: 3px
}

.template-back-img {
	background-size: cover;
	background-position: center center;
    padding: 50px 100px;
    margin: 0 40px;
    background-repeat: no-repeat
}

.email-template-content .site-logo {
	width: auto; 
	height: 60px; 
	margin: 0 auto;
	text-align: center;
}
.email-template-content .site-logo img {
	max-width: 100%;
	max-height: 100%;
}

.email-main-content {
	text-align: center;
	padding: 70px 0;
}

.live-link {
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	text-decoration: none;
	color: #FFC700;
	text-transform: uppercase;
	margin: 0;
	border-bottom: 3px solid;
	display: inline-block;
	padding-bottom: 8px;
}

.email-main-content .email-heading {
	padding: 40px 0 20px; 
	font-weight: 900; 
	font-size: 40px; 
	line-height: 49px;
	color: #fff;
	display: block!important;
}

.email-short-desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #fff; 
	font-style: italic; 
	padding: 10px 0 80px;
}

.reminder_msg p {
	background: #6f39fdfc;
    padding: 10px 20px;
    border-radius: 0px 100px 100px 100px;
    color: #fff;
    margin: 0;
    transition: all .4ms ease-in-out;
}

button.btn-visit {
	padding: 20px 45px; 
    font-weight: 600; 
    font-size: 18px; 
    line-height: 18px;
    text-transform: uppercase;
    background: #FFC700;
    letter-spacing: 1.6px;
    border:none;
    box-shadow: 6px 25px 9px -25px #ffc700;
    -webkit-box-shadow:6px 25px 9px -25px #ffc700;
    -moz-box-shadow:6px 25px 9px -25px #ffc700;
    filter: drop-shadow(0 1mm 2mm #FFC700);
    cursor: pointer;
}

@media(max-width:1199px) {
	.lasoon-nav-tab-wrapper {
		width: 25%
	}

	.lasoon-settings-content table.form-table {
		padding: 15px 30px
	}
}

@media(max-width:768px) {
	.lasoon-settings-content .form-table th {
		padding: 0 10px 0 0;
		width: auto
	}

	.lasoon-settings-content .form-table td {
		padding: 10px 0
	}
}

@media(max-width:767px) {
	#mainlasoonform {
		display: block
	}

	.lasoon-nav-tab-wrapper {
		width: 100%;
		padding: 30px 0;
		height: auto;
		position: initial
	}

	.lasoon-settings-content {
		width: 100%
	}

	.lasoon-settings-content .form-table td select {
		min-width: initial !important;
		max-width: 100%
	}

	.lasoon-settings-content table.form-table {
		padding: 15px 20px
	}
}

@media(max-width:575px) {

	#table-enable_disable_options tr,
	#table-enable_disable_options_for_singleblog tr {
		width: 100%;
		float: none
	}

	.lasoon-settings-content p.submit {
		text-align: center
	}
}